<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Index File</h1>
    <p>
    <h4>Name : Train Scedule API</h4>
    <h4>Version : 1.0.0</h4>
    <h4>Base URL : http://35.166.53.131:8000/</h4>
    <h5>Posible CRUD operations</h5>
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 50%;">Path URL</th>
            <th style="width: 12%;">Method</th>
            <th style="width: 35%;">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>/</td>
            <td>GET</td>
            <td>Index page(This Page)</td>
        </tr>
        <tr>
            <td>2</td>
            <td>/get/all-train</td>
            <td>GET</td>
            <td>Retrieve All Trains</td>
        </tr>
        <tr>
            <td>3</td>
            <td>/get/all-driver</td>
            <td>GET</td>
            <td>Retrieve All Drivers</td>
        </tr>
        <tr>
            <td>4</td>
            <td>/get/train/&lt Train Number &gt</td>
            <td>GET</td>
            <td>Retrieve details of a Train by specific Train Number</td>
        </tr>
        <tr>
            <td>5</td>
            <td>/get/driver/&lt Driver NTC Number &gt</td>
            <td>GET</td>
            <td>Retrieve data from Driver NTC</td>
        </tr>
        <tr>
            <td>6</td>
            <td>/get/future-schedule/&lt startLocation &gt /&lt endLocation &gt/&lt Start Time &gt </td>
            <td>GET</td>
            <td>Get the Next Possible Trains in 15 Min</td>
        </tr>


        <tr>
            <td>7</td>
            <td>/post/train </td>
            <td>POST</td>
            <td>Post Newly Added Train By Administrator</td>
        </tr>

        <tr>
            <td>8</td>
            <td>/post/driver </td>
            <td>POST</td>
            <td>Post Newly Join Driver By Administrator</td>
        </tr>

        <tr>
            <td>9</td>
            <td>/post/route </td>
            <td>POST</td>
            <td>Post New Route By Administrator</td>
        </tr>


        <tr>
            <td>10</td>
            <td>/update/train/&lt Train ID &gt  </td>
            <td>UPDATE</td>
            <td>Update a Train by Its ID</td>
        </tr>

        <tr>
            <td>11</td>
            <td>/update/driver/&lt Driver NTC Number &gt</td>
            <td>UPDATE</td>
            <td>Update a Driver by his NTC</td>
        </tr>

        <tr>
            <td>12</td>
            <td>/update/route/&lt Route Number &gt </td>
            <td>UPDATE</td>
            <td>Update a Route by Its Route number</td>
        </tr>




        </tbody>
    </table>
</div>

</body>
</html>
